<!DOCTYPE html>
<html lang="ja-JP">
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex, nofollow">
<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="<%= data.path.bootstrap %>/bootstrap.css">
<!-- bootflat css -->
<link rel="stylesheet" type="text/css" href="<%= data.path.css %>/bootflat.css">
<link rel="stylesheet" type="text/css" href="<%= data.path.css %>/bootflat-square.css">
<link rel="stylesheet" type="text/css" href="<%= data.path.css %>/bootflat-extensions.css">
<link rel="stylesheet" type="text/css" href="<%= data.path.css %>/font-awesome.min.css">
<!-- common css -->
<link rel="stylesheet" type="text/css" href="<%= data.path.css %>/common.css">
<!-- js lib -->
<script src="<%= data.path.lib %>/jquery.min.js"></script>
<script src="<%= data.path.lib %>/handlebars.min.js"></script>
<script src="<%= data.path.js %>/bootstrap.min.js"></script>
<script src="<%= data.path.js %>/global.js"></script>
<script src="<%= data.path.js %>/common.js"></script>
<title>Y'sカレンダー</title>
</head>
<body>
<header>
<h1>Y'sカレンダー</h1>
</header>
<div id="main-wrap">
    <div class="container-fluid main-grid">
        <div class="row top-grid">
            <div class="col-sm-3 top-news">お知らせ</div>
            <div class="col-sm-7 col-sm-offset-3 calendar-menu calendar-grid">
                <nav>
                    <ul>
                        <li>
                            <select id="select-year-month" class="form-control">
                                <option value="201611">201611</option>
                                <option value="201612">201612</option>
                                <option value="201701">201701</option>
                            </select>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-2 calendar-detail">DETAIL</div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-3 calendar-grid"><p class="calendar-day">月</p></div>
            <div class="col-sm-1 calendar-grid"><p class="calendar-day">火</p></div>
            <div class="col-sm-1 calendar-grid"><p class="calendar-day">水</p></div>
            <div class="col-sm-1 calendar-grid"><p class="calendar-day">木</p></div>
            <div class="col-sm-1 calendar-grid"><p class="calendar-day">金</p></div>
            <div class="col-sm-1 calendar-grid"><p class="calendar-day">土</p></div>
            <div class="col-sm-1 calendar-grid"><p class="calendar-day">日</p></div>
        </div>
        <section id="calendar"><!-- APIで取得 --></section>
    </div>
</div>
<footer>
    © Y's 2016 All Rights Reserve
</footer>
</body>
<script id="calendar-template" type="text/x-handlebars-template">
{{#each weekData}}
<div class="row">
    {{#each dateData}}
    <div class="col-sm-1{{#equal @index 0}} col-sm-offset-3{{/equal}} calendar-grid{{#if dummy}} dummy-calendar-grid{{/if}}">
        <dl class="calendar-box">
            <dt class="calendar-date">{{date}}</dt>
            <dd class="calendar-schedule">
            {{#if eventData}}
            {{#each eventData}}
            <p>{{this}}</p>
            {{/each}}
            {{/if}}
            </dd>
        </dl>
    </div>
    {{/each}}
</div>
{{/each}}
</script>
<script src="<%= data.path.js %>/top.js"></script>
</html>
